
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-right: 0px !important;
    margin-left: 0px !important;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    
    padding-left: 10px;
    padding-right: 10px;
    
  }
  
  
  .column img {
    vertical-align: middle;
    width: 100%;    
    border-radius: 15px 15px 0 0;
  }
  .container {
    padding: 10px 2px 2px 2px;
    background-color: #f5eab5;
    border-radius: 0 0 15px 15px !important;
    text-align: center;
    color: black;
  }
  .info{
    color: black;
  }
  img:hover {
    -webkit-filter: brightness(50%);
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none !important;
    transition: 0.3s;
    width: 100%;
    margin-bottom: 20px;
    background-color: grey;
    border-radius: 15px !important;
    
  
  }
  .container h4{
      padding-left: 5px;
  }
  .container p{
      padding-left: 5px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  
    .product{
      margin-top: 2rem;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
   
    .column {
      max-width: 80%;
      flex:100%;
      
      

    }
    .row{
      justify-content: center;
      align-items: center;
    }
    .container{
      font-size: small;
    }

    
  
  }
